{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Archivages</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for archivage in archivages %}
            <tr>
                <td><a href="{{ path('archivage_show', { 'id': archivage.id }) }}">{{ archivage.id }}</a></td>
                <td>{% if archivage.date %}{{ archivage.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('archivage_show', { 'id': archivage.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('archivage_edit', { 'id': archivage.id }) }}">Éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archivage_new') }}">Créer un nouvel archivage</a>
        </li>
    </ul>
{% endblock %}
