{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emprunt archivé</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archivage.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if archivage.date %}{{ archivage.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archivage_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a href="{{ path('archivage_edit', { 'id': archivage.id }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
