{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste de vos fonctions :</h1>
{% if is_granted('ROLE_CONSERVATEUR') %}
<a href = {{ path('livre_index') }}><input type="button" class="button" value="Gestion Livre" style="height: 35px"></a><br><br>
<a href = {{ path('auteur_index') }}><input type="button" class="button" value="Gestion Auteur" style="height: 35px"></a><br><br>
<a href = {{ path('theme_index') }}><input type="button" class="button" value="Gestion Thème" style="height: 35px"></a><br><br>

{% endif %}
{% if is_granted('ROLE_MAGASINIER') %}
<a href = {{ path('rayon_index') }}><input type="button" class="button" value="Gestion Rayon" style="height: 35px"></a><br><br>
<a href = {{ path('etagere_index') }}><input type="button" class="button" value="Gestion Etagère" style="height: 35px"></a><br><br>
<a href = {{ path('exemplaire_index') }}><input type="button" class="button" value="Gestion Exemplaire" style="height: 35px"></a><br><br>

{% endif %}
{% if is_granted('ROLE_INSCRIT') %}
<a href = {{ path('user_index') }}><input type="button" class="button" value="Gestion Inscrit" style="height: 35px"></a><br><br>
<a href = {{ path('faculte_index') }}><input type="button" class="button" value="Gestion Faculté" style="height: 35px"></a><br><br>

{% endif %}
{% if is_granted('ROLE_LECTEUR') %}
<a href = {{ path('user_Find_By_Auteur') }}><input type="button" class="button" value="Rechercher livre par auteur" style="height: 35px"></a><br><br>
<a href = {{ path('user_Find_By_Titre_Approximatif') }}><input type="button" class="button" value="Rechercher livre par titre" style="height: 35px"></a><br><br>
<a href = {{ path('livre_Find_By_Theme') }}><input type="button" class="button" value="Rechercher livre par thème" style="height: 35px"></a><br><br>
<a href = {{ path('user_show', { 'id': utilisateur.id }) }}><input type="button" class="button" value="Consulter les emprunts en cours" style="height: 35px"></a><br><br>
<a href = {{ path('reservation_Find_By_User', { 'id': utilisateur.id }) }}><input type="button" class="button" value="Consulter les réservations en cours" style="height: 35px"></a><br><br>
<a href = {{ path('reservation_new') }}><input type="button" class="button" value="Réserver un livre" style="height: 35px"></a><br><br>
{% endif %}
{% if is_granted('ROLE_PRET') %}
<a href = {{ path('emprunt_index') }}><input type="button" class="button" value="Gestion Prêt" style="height: 35px"></a><br><br>

{% endif %}
{% endblock %}
