{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des auteurs</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td><a href="{{ path('auteur_show', { 'id': auteur.id }) }}">{{ auteur.id }}</a></td>
                <td>{{ auteur.prenom }}</td>
                <td>{{ auteur.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('auteur_show', { 'id': auteur.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('auteur_edit', { 'id': auteur.id }) }}">Éditer</a>
                        </li>
                        <li>
                            <a href="{{ path('auteur_edit', { 'id': auteur.id }) }}">Modifier</a>

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('auteur_new') }}">Créer un nouvel auteur</a>
        </li>
    </ul>
{% endblock %}
