{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créér auteur</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créér" />
    <h1>Nouvel Auteur</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('auteur_index') }}">Retourner à la liste</a>
        </li>
    </ul>
{% endblock %}
