{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des livres</h1>
    <ul>
        <li>
            <a href="{{ path('user_Find_By_Auteur') }}">Rechercher livre par auteur</a>
        </li>
        <li>
            <a href="{{ path('user_Find_By_Titre_Approximatif') }}">Recherche livre par titre</a>
        </li>
         <li>
            <a href="{{ path('livre_Find_By_Theme') }}">Recherche livre par theme</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Notice</th>
                <th>Thème(s)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td><a href="{{ path('livre_show', { 'id': livre.id }) }}">{{ livre.id }}</a></td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.notice }}</td>
                <td>
                    {% for theme in livre.themes %}
                        {{ theme.description}},                            
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('livre_show', { 'id': livre.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('livre_edit', { 'id': livre.id }) }}">Éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livre_new') }}">Créer un nouveau livre</a>
        </li>
    </ul>
{% endblock %}
