{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Notice</th>
                <td>{{ livre.notice }}</td>
            </tr>
            <tr>
                <th>Thème(s)</th>
                <td>
                    {% for theme in livre.themes %}
                        {{ theme.description}},                            
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Auteur(s)</th>
                <td>
                    {% for auteur in livre.auteurs %}
                        {{ auteur.nom}} {{ auteur.prenom}},                            
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    
    {% if (is_granted('ROLE_CONSERVATEUR') or is_granted('ROLE_DIRECTEUR')) %}
    <ul>
        <li>
            <a href="{{ path('livre_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a href="{{ path('livre_edit', { 'id': livre.id }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
{% endblock %}
