{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Notice</th>
                <td>{{ livre.notice }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livre_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a href="{{ path('livre_edit', { 'id': livre.id }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
