{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des rayons</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Désignation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rayon in rayons %}
            <tr>
                <td><a href="{{ path('rayon_show', { 'id': rayon.id }) }}">{{ rayon.id }}</a></td>
                <td>{{ rayon.designation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rayon_show', { 'id': rayon.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('rayon_edit', { 'id': rayon.id }) }}">Éditer</a>
                        </li>
                        <li>
                            <a href="{{ path('rayon_livre', { 'id': rayon.id }) }}">Voir livre</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rayon_new') }}">Créer un nouveau rayon</a>
        </li>
    </ul>
{% endblock %}
