{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des facultés</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Désignation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faculte in facultes %}
            <tr>
                <td><a href="{{ path('faculte_show', { 'id': faculte.id }) }}">{{ faculte.id }}</a></td>
                <td>{{ faculte.designation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('faculte_show', { 'id': faculte.id }) }}">Voir/a>
                        </li>
                        <li>
                            <a href="{{ path('faculte_edit', { 'id': faculte.id }) }}">Éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faculte_new') }}">Créer une nouvelle faculté</a>
        </li>
    </ul>
{% endblock %}
