{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faculté</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faculte.id }}</td>
            </tr>
            <tr>
                <th>Désignation</th>
                <td>{{ faculte.designation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faculte_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a href="{{ path('faculte_edit', { 'id': faculte.id }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
