{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une réservation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}
    
    <h2>{{ message }}</h2>

    {% if (is_granted('ROLE_CONSERVATEUR') or is_granted('ROLE_DIRECTEUR')) %}
    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Retourner à la liste des réservations</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
