{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if reservation.date %}{{ reservation.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>livre</th>
                <td>{{ reservation.livre }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ reservation.user }}</td>
            </tr>

        </tbody>
    </table>

    {% if is_granted('ROLE_PRET') %}
    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Retourner à la liste des réservations</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
{% endblock %}
