{% extends 'base.html.twig' %}

{% block body %}
    <h1><u>Liste des utilisateurs</u></h1>

    <table id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Password</th>
                <th>Cycle</th>
                <th>Faculté</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.cycle }}</td>
                <td>{{ user.faculte }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <ul>
        <li>
            <a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
        </li>
    </ul>
{% endblock %}
