{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_INSCRIT') %}
    <h1>Utilisateur</h1>

    <table id="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Cycle</th>
                <td>{{ user.cycle }}</td>
            </tr>
            <tr>
                <th>Faculté</th>
                <td>{{ user.faculte }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
    
    <h2>Situation des prêts de l'utilisateur :</h2>

    <table id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Livre</th>
                <th>Utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td><a href="{{ path('emprunt_show', { 'id': emprunt.id }) }}">{{ emprunt.id }}</a></td>
                <td>{% if emprunt.date %}{{ emprunt.date|date('d-m-Y') }}{% endif %}</td>
                <td>{{ emprunt.livre}}</td>
                <td>{{ emprunt.user}}</td>
                <td>
                    <ul>
                        {% if is_granted('ROLE_INSCRIT') %}
                        <li>
                            <a href="{{ path('emprunt_show', { 'id': emprunt.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('emprunt_edit', { 'id': emprunt.id }) }}">Éditer</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('emprunt_retour', { 'id': emprunt.id }) }}">Retourner le livre</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
    
    {% if is_granted('ROLE_INSCRIT') %}
    <ul>
        <li>
            <a href="{{ path('user_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
{% endblock %}
