{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des exemplaires</h1>
    <ul>
        <li>
            <a href="{{ path('exemplaire_ExempLivre') }}">Rechercher les exemplaire d'un livre</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Désignation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exemplaire in exemplaires %}
            <tr>
                <td><a href="{{ path('exemplaire_show', { 'id': exemplaire.id }) }}">{{ exemplaire.id }}</a></td>
                <td>{{ exemplaire.designation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('exemplaire_show', { 'id': exemplaire.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('exemplaire_edit', { 'id': exemplaire.id }) }}">Éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exemplaire_new') }}">Créer un nouvel exemplaire</a>
        </li>
    </ul>
{% endblock %}
