{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des exemplaires d'un livre</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Chercher" />
    {{ form_end(form) }}
    <h3>{{ message }}</h3>
    <h2>Liste</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Désignation</th>
                <th>Livre</th>
            </tr>
        </thead>
        <tbody>
        {% for exemplaire in exemplaires %}
            <tr>
                <td><a href="{{ path('exemplaire_show', { 'id': exemplaire.id }) }}">{{ exemplaire.id }}</a></td>
                <td>{{ exemplaire.designation }}</td>
                <td>{{ exemplaire.livreexemplaire}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <ul>
        <li>
            <a href="{{ path('exemplaire_index') }}">Retouner à la liste</a>
        </li>
    </ul>
{% endblock %}