{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contrôler disponibilité livre</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Chercher" />
    {{ form_end(form) }}
    <h2>{{ message }}</h3> 
    <ul>
        <li>
            <a href="{{ path('emprunt_index') }}">Retouner à la liste</a>
        </li>
    </ul>
{% endblock %}
