{% extends 'base.html.twig' %}

{% block body %}
    <h1>Retour d'un emprunt</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Retourner" />
    {{ form_end(form) }}
   <h2>{{ message }}</h2>
   {% if is_granted('ROLE_PRET') %}
    <ul>
        <li>
            <a href="{{ path('emprunt_index') }}">Retouner à la liste</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
