{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ titre }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Chercher" />
    {{ form_end(form) }}
    <h2>Liste des emprunts</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Utilisateur</th>
                <th>Livre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td><a href="{{ path('emprunt_show', { 'id': emprunt.id }) }}">{{ emprunt.id }}</a></td>
                <td>{% if emprunt.date %}{{ emprunt.date|date('d-m-Y') }}{% endif %}</td>
                <td>{{ emprunt.user }}</td>
                <td>{{ emprunt.livre}}</td>
                <td>
                 <ul>
                        <li>
                            <a href="{{ path('emprunt_show', { 'id': emprunt.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('emprunt_edit', { 'id': emprunt.id }) }}">Éditer</a>
                        </li>
                         <li>
                            <a href="{{ path('emprunt_retour', { 'id': emprunt.id }) }}">Retourner le livre</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('emprunt_new') }}">Créer un nouvel emprunt</a>
        </li>
        <li>
            <a href="{{ path('emprunt_livredispo') }}">Consulter la disponibilité d'un livre</a>
        </li>
        <li>
            <a href="{{ path('emprunt_livre') }}">Liste des emprunts par livre</a>
        </li>
        <li>
            <a href="{{ path('emprunt_user') }}">Liste des emprunts par utilisateur</a>
        </li>
         <li>
            <a href="{{ path('archivage_index') }}">Liste des emprunts archivés</a>
        </li>
         <li>
            <a href="{{ path('emprunt_horsdelai') }}">Liste des emprunts hors délai</a>
        </li>
    </ul>
{% endblock %}
